jupyter==1.1.1
neo4j==5.28.1
openai==1.86.0
openpyxl==3.1.5
beautifulsoup4==4.13.4
matplotlib==3.7.3
pandas==2.3.0
sentence-transformers==4.1.0
scikit-learn==1.7.0
seaborn==0.13.2
numpy==1.24.4
python-dotenv==1.1.0
langchain==0.3.25
langchain-community==0.3.16
pydub==0.25.1
requests==2.32.4
rdflib==7.1.4
SPARQLWrapper==2.0.0
chromadb==1.0.12
edge-tts==7.0.2
nest_asyncio==1.6.0
keyboard==0.13.5
tiktoken==0.9.0
PyPDF2==3.0.1
torch==2.6.0
transformers==4.52.4
datasets==3.6.0
boto3==1.38.36
ollama==0.5.1
keybert==0.9.0
hf-xet==1.1.3
spacy==3.8.7
langdetect==1.0.9